<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
 


   
 
 
  
	
<div class="ui raised segment">  
  <h2 class="ui header">Pagina prova</h2>  
  <form #f="ngForm"  
        (ngSubmit)="onSubmit(f.value)"  
        class="ui form">
<input type="text"  
 id="cod"  
             placeholder="codice"  
             name="cod" ngModel>  
   
    <button type="submit" class="btn btn-primary">CLICCA PER VISUALIZZARE IL COLORE</button>  
  </form>  
</div>

<p><b>CODICE:</b> {{codiceColore}}</p>
<p><b>HSL:</b> {{hslColore}}</p>

  



<router-outlet></router-outlet>
</div>
